@font-face {
   font-family: 'Noto Sans';
   src: url('Noto_Sans/NotoSans-Regular.ttf') format('truetype');
}

body {
   font-family: 'Noto Sans', sans-serif;
   text-rendering: optimizeLegibility;
   background-color: black;
   color: yellow;
   font-size: 2rem;
   margin: 0;
   margin: 0 10%;
   cursor: none;
}

span {
   position: fixed;
   text-align: center;
   bottom: 150px;
   width: 80%;
}
