.bio:hover p {
  display: block;
}

.bio p {
  position: absolute;
  text-align: justify;
  line-height: 20px;
  bottom: -1rem;
  padding-bottom: 2rem;
  left: -2rem;
  padding-left: 2rem;
  display: none;
}

@media screen and (max-width: 1024px) {
  .bio p {
    display: block;
    position: relative;
    padding: unset;
    left: unset;
    bottom: unset;
    padding-bottom: 1rem;
    max-width: 50ch;
  }

  .bio > a {
    text-align: center;
  }

  .bio > p,
  .bio > a {
    margin: 0 auto;
    width: 100%;
    display: block;
  }
}
