.book {
  width: 100%;
  text-align: center;
}

.book:hover img,
.book:hover .purchase {
  display: block;
}

.book img {
  display: none;
  top: 0;
  position: absolute;
  left: 0;
}

/* Book */
.book .purchase {
  position: fixed;
  right: 30px;
  bottom: 30px;
  width: 160px;
  padding: 10px;
  z-index: 1;
}

.book .purchase {
  display: none;
}

@media screen and (max-width: 1024px) {
  .book img,
  .book .purchase {
    display: block;
  }
}
