body {
   font-family: 'Overpass', 'Fira Sans', sans-serif;
   font-size: 14px;
   line-height: 26px;
    -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
   margin: 0;
   background-color: #3c00ff;
   color: white;
}

a {
   text-decoration: none;
   color: inherit;
   cursor: none;
}

a:hover {
   border-bottom: 1px dotted;
   cursor: none;
   ;
}

.front {
   max-width: 200vh;
   margin-left: auto;
   margin-right: auto;
   margin-top: 25%;
   text-align: center;
   cursor: none;
}

.overlay {
   display: none;
   z-index: 9999999999;
   background-color: #3c00ff;
   color: white;
   width: 100%;
   height: 100vh;
}

.overlay a {
   position: relative;
   margin-left: 60px;
   display: block;
}

.overlay a:nth-of-type(1) {
   padding-top: 20vh;
}

img {
   opacity: 0;
   -webkit-transition: .2s;
   transition: .2s;
}

.show {
   opacity: 1;
   -webkit-transition: .2s;
   transition: .2s;
}


/* Circle Text Styles */

#outerCircleText {
   /* Optional - DO NOT SET FONT-SIZE HERE, SET IT IN THE SCRIPT */
   font-style: italic;
   font-weight: bold;
   font-family: 'comic sans ms', verdana, arial;
   color: #ffff;
   /* End Optional */
   /* Start Required - Do Not Edit */
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3000;
   cursor: default;
}

#outerCircleText div {
   position: relative;
}

#outerCircleText div div {
   position: absolute;
   top: 0;
   left: 0;
   text-align: center;
}


/* End Required */


/* End Circle Text Styles */
