
body {
   font-family: 'Overpass', 'Fira Sans', sans-serif;
   font-size: 16px;
   line-height: 26px;
    -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
   margin: 0;
   background-color: #3c00ff;
   color: white;
}

a {
   text-decoration: none;
   color: inherit;
}

a:hover, #first_link:hover {
   border-bottom: 1px dotted;

}

.front {
   max-width: 200vh;
   margin-left: auto;
   margin-right: auto;
   margin-top: 25%;
   text-align: center;

}

.overlay {
   display: none;
   z-index: 9999999999;
   background-color: #3c00ff;
   color: white;
   width: 100%;
   height: 100vh;
}

.overlay a {
   position: relative;
   margin-left: 60px;
   display: block;
}

.overlay a:nth-of-type(1) {
   padding-top: 20vh;
}

img {
   opacity: 0;
   -webkit-transition: .2s;
   transition: .2s;
}

.show {
   opacity: 1;
   -webkit-transition: .2s;
   transition: .2s;
}

/* Circle Text Styles */

 #outerCircleText {
    /* Optional - DO NOT SET FONT-SIZE HERE, SET IT IN THE SCRIPT */
    font-style: italic;
 font-weight: bold;
 font-family: 'comic sans ms', verdana, arial;
    color: #ffff;
   /* End Optional */
    /* Start Required - Do Not Edit */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3000;
    cursor: default;
 }

 #outerCircleText div {
    position: relative;
 }

 #outerCircleText div div {
 position: absolute;
    top: 0;
 left: 0;
    text-align: center;
 }

#first_link{
    display: hide;
}



#second_link{
    display: none;
}

#third_link{
    display: none;
}




#purchase {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 180px;
  padding: 20px;
  border: 1px solid #fff;
}

#purchase img {
  width: 100%;
  opacity: 1;
}

#purchase:hover img {
  width: 100%;
  opacity: 0;
}

#purchase p {
  max-width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-size: 10px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: justify;
  line-height: 14px;
}

#purchase:hover p {
  opacity: 1;
}
