/* First we setup the basic page styling */
/* We set the font, text size and colors for the whole page */
html {
  font-family: 'Overpass', 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 26px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  margin: 0;
  background-color: #3c00ff;
  color: white;
}

/* This reset gives you more flexibility than its predecessors — you can use content-box or padding-box (where supported) at will, without worrying about a universal selector overriding your CSS. We went into more depth on this technique and the reasoning behind it in “Inheriting box-sizing Probably Slightly Better Best Practice”. One potential gripe with it is that box-sizing isn’t normally inherited, so it’s specialized behavior, not quite the same as something you’d normally put in a reset. */
/* https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

/* We setup our paragraphs */
p {
  z-index: 10;
  position: relative;
  display: inline-block;
}
/* We make our image scale to full width */
img {
  width: 100%;
}
/* and we style our links so they look good */
a {
  text-decoration: none;
  color: inherit;
}

article {
  min-height: 100vh;
}
