body {
  overflow: hidden;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  font-size: 2rem;
  margin: 200px;
  margin-bottom: 100px;
  color: grey;
  line-height: 2.3rem;
  animation-name: background;
  animation-duration: 300s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.title p {
  margin: 0;
  font-weight: bold;
}

.paragraph {
  opacity: .8;
}

.quote {
  margin-top: 40px;
}

.quote p {
  margin: 0;
  font-style: italic;
  opacity: .7;
}

.typed-cursor {
  display: none;
}

@-webkit-keyframes background {
  0% {
    background-color: white;
  }
  100% {
    background-color: yellow;
  }
}

@keyframes background {
  0% {
    background-color: white;
  }
  100% {
    background-color: yellow;
  }
}
